@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c6c6c6;
}

.boton {
  color: #212121;
  background-color: #e2ae1e;
  padding: 20px;
  font-size: 18px;
  font-family: "Lexend", sans-serif;
  font-weight: 600;
  border-radius: 20px;
  transition: all 0.3s linear;
}
.boton:hover {
  transform: translateY(-5px);
  box-shadow: 0 2px 5px #b28b1e;
  background-color: #ce9c16;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1C140B;
  padding: 20px 26px;
  border-bottom: 3px solid #ba860d;
}

a {
  text-decoration: none;
}

.navbar-logo {
  font-family: "Fraunces", serif;
  font-size: 25px;
  font-weight: 600;
  margin: 0 16px;
  color: #d5a432;
  transition: all 0.3s linear;
}
.navbar-logo:hover {
  color: #b58910;
}

.link-nav {
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  color: #F3E9D2;
  margin: 0 16px;
  transition: all 0.3s linear;
}
.link-nav:hover {
  color: #bf8e0a;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6196078431)), url(../assets/paisaje-hero.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 2rem;
}

.logo {
  width: 210px;
  height: 180px;
}

.tit-frase {
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.titulo-hero {
  font-family: "Fraunces", serif;
  font-size: 9rem;
  font-weight: 600;
  color: #bf8e0a;
}

.frase-hero {
  color: #d3d2d2;
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.caracteristicas {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.stat {
  padding: 14px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend", sans-serif;
  color: #cdcccc;
  border: 3px solid #dad8d8;
  border-radius: 35px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4235294118), rgba(0, 0, 0, 0.4039215686));
  transition: all 0.2s linear;
}
.stat:hover {
  transform: scale(1.1);
}

.historia-seccion {
  background-color: #F3E9D2;
  border-top: 4px solid #efce80;
  width: 100%;
  height: 80vh;
}

.hist-contenedor {
  text-align: center;
}

.tit-hist {
  color: #bf8e0a;
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 400;
  margin: 2.5rem 0;
}

.frase-hist {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-style: oblique;
  font-weight: 600;
  margin-bottom: 2rem;
}

.parrafo {
  font-family: "Lexend", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 auto;
  width: 70%;
}

footer {
  background-color: #1C140B;
  padding: 2.5rem;
  border-top: 4px solid #e2ae1e;
}

.footer-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  gap: 3rem;
  border-bottom: 2px solid #503a22;
}

footer p {
  color: #F3E9D2;
  font-family: "Lexend", sans-serif;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-top: 16px;
}

.nombre-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tit-footer {
  color: #F3E9D2;
  font-family: "Fraunces", serif;
  font-size: 26px;
  font-weight: 500;
}

.nombre-footer p {
  color: #d3d2d2;
  font-family: "Lexend", sans-serif;
  font-style: oblique;
  font-size: 20px;
  font-weight: 600;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.color-amarillo {
  color: #e2ae1e;
}

.menu-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link-footer {
  color: #F3E9D2;
  font-family: "Lexend", sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s linear;
}
.link-footer:hover {
  color: #bf8e0a;
}

.redes {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.redsocial {
  color: #F3E9D2;
  font-family: "Lexend", sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition: all 0.3s linear;
}
.redsocial:hover {
  color: #bf8e0a;
}

/*# sourceMappingURL=style.css.map */
