@use "../utilities/variables" as v;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to bottom, #00000099, #0000009e), url(../assets/paisaje-hero.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 2rem;
}

.tit-frase{
    margin-bottom: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.titulo-hero {
    font-family: v.$fuente-titulo;
    font-size: 9rem;
    font-weight: 600;
    color: v.$dorado-oscuro;
}

.frase-hero{
    color: #d3d2d2;
    font-family: v.$fuente-especial;
    font-size: 2rem;
    font-weight: 500;
}

.caracteristicas{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.stat{
    padding: 14px;
    font-size: 20px;
    font-weight: 500;
    font-family: v.$fuente-texto;
    color: #cdcccc;
    border: 3px solid #dad8d8;
    border-radius: 35px;
    background: linear-gradient(to bottom, #0000006c, #00000067);

    transition: all 0.2s linear;

    &:hover{
        transform: scale(1.1);
        // transform: translateY(-3px);
        // background-color: v.$dorado-oscuro;
    }
}