@use "../utilities/variables" as v;

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1C140B;
    padding: 20px 0;
    border-bottom: 3px solid #ba860d;
    width: 100%;
    min-width: 0;
}

a{
    text-decoration: none;
}

.navbar-logo{
    font-family: v.$fuente-titulo;
    font-size: 25px;
    font-weight: 600;
    margin: 0 16px;
    color: #d5a432;

    transition: all 0.3s linear;

    &:hover{
        color: #b58910;
    }
}

.link-nav{
    font-size: 20px;
    font-weight: 500;
    font-family: v.$fuente-texto;
    color: v.$color-blanco;
    margin: 0 16px;

    transition: all 0.3s linear;

    &:hover{
        color: #bf8e0a;
    }
}